// -----------------------------------------------
//
// Styling for Header
//
// -----------------------------------------------
#headerContainer {
	#logo {
		color: white;
		font-family: var(--playfair);
		// font-weight: 700;
		font-size: 1.5rem;
	}

	ul {
		li {
			.menuLink {
				color: white;
				font-family: var(--playfair);
				font-size: 1.3rem;
				// font-weight: 700;
			}
		}
	}
}
