<%- include('./layout/header') -%>

<div class="container" id="landingContainer">
	<div class="row">
		<div class="col formWrapperContainer">
			<div class="formContainer">
				<h1 class="playfair">Become an Admin</h1>
				<p class="text-center">Passcode is: kenny</p>

				<form action="/admin-sign-in" method="POST">
					<div class="form-row extraRow">
						<div class="col">
							<div class="form-group">
								<label class="playfair" for="secret_code"
									>Enter Secret Admin Code</label
								>
								<input
									class="form-control playfair"
									name="secret_code"
									type="text"
								/>
							</div>
						</div>
					</div>

					<div class="buttonContainer text-center">
						<button class="btn btn-success appButton">
							Become an Admin
						</button>
					</div>
				</form>

				<%if (errors) { %>
				<div class="errorsContainer">
					<p>You got errors on the following:</p>
					<ul>
						<% errors.forEach(error => {%>

						<li><%= error.msg %></li>

						<% }) %>
					</ul>
				</div>
				<% }%>
			</div>
		</div>
	</div>

	<%- include('./layout/footer') -%>
</div>
