<%- include('./layout/header') -%>

<div class="container" id="landingContainer">
	<div class="row">
		<div class="col">
			<div class="landingTextContainer">
				<h2>YOU MADE IT TO THE HOME PAGE! NICE!</h2>
				<a href="/log-out">LOG OUT</a>
			</div>
		</div>
	</div>
</div>

<%- include('./layout/footer') -%>
