<%- include('./layout/header') -%>

<div class="container" id="landingContainer">
	<div class="row">
		<div class="col">
			<div class="landingTextContainer">
				<h1>This is the index page</h1>
			</div>
		</div>
	</div>
</div>

<%- include('./layout/footer') -%>
