<%- include('./layout/header') -%>

<div class="container" id="landingContainer">
	<div class="row">
		<div class="col">
			<h1>LOG IN FORM</h1>
			<form action="/log-in" method="POST">
				<label for="username">Username</label>
				<input name="username" placeholder="username" type="text" />

				<label for="password">Password</label>
				<input name="password" type="password" />

				<button>Log In</button>
			</form>

			<%if (message) { %>
			<div class="errorsContainer">
				<p>You got errors on the following:</p>
			</div>
			<% }%>
		</div>
	</div>
</div>

<%- include('./layout/footer') -%>
