<%- include('./layout/header') -%>

<div class="container" id="landingContainer">
	<div class="row">
		<div class="col">
			<h1>BECOME MEMBER FORM</h1>
			<p>Passcode is: Yeagerists</p>
			<form action="/home/member-sign-in" method="POST">
				<label for="secret_code">Enter Secret Code</label>
				<input name="secret_code" type="text" />
				<button>Become a Member</button>
			</form>

			<%if (errors) { %>
			<div class="errorsContainer">
				<p>You got errors on the following:</p>
				<ul>
					<% errors.forEach(error => {%>

					<li><%= error.msg %></li>

					<% }) %>
				</ul>
			</div>
			<% }%>
		</div>
	</div>
</div>

<%- include('./layout/footer') -%>
