<%- include('./layout/header') -%>

<div class="container" id="landingContainer">
	<div class="row">
		<div class="col formWrapperContainer">
			<div class="formContainer">
				<h1 class="playfair">Sign In New Yeagerist</h1>

				<form action="" method="POST">
					<div class="form-row">
						<div class="col">
							<div class="form-group">
								<label class="playfair" for="username"
									>Username</label
								>
								<input
									class="form-control playfair"
									name="username"
									type="text"
								/>
							</div>
						</div>
					</div>

					<div class="form-row extraRow">
						<div class="col">
							<div class="form-group">
								<label class="playfair" for="first_name"
									>First Name</label
								>
								<input
									class="form-control playfair"
									name="first_name"
									type="text"
								/>
							</div>
						</div>
					</div>

					<div class="form-row extraRow">
						<div class="col">
							<div class="form-group">
								<label class="playfair" for="last_name"
									>Last Name</label
								>
								<input
									class="form-control playfair"
									name="last_name"
									type="text"
								/>
							</div>
						</div>
					</div>

					<div class="form-row extraRow">
						<div class="col">
							<div class="form-group">
								<label class="playfair" for="password"
									>Password</label
								>
								<input
									class="form-control playfair"
									name="password"
									type="password"
								/>
							</div>
						</div>
					</div>

					<div class="form-row extraRow">
						<div class="col">
							<div class="form-group">
								<label class="playfair" for="confirmPassword"
									>Confirm Password</label
								>
								<input
									class="form-control playfair"
									name="confirmPassword"
									type="password"
								/>
							</div>
						</div>
					</div>

					<div class="buttonContainer">
						<button class="btn btn-success appButton">
							Sign Up
						</button>
					</div>
				</form>

				<%if (errors) { %>
				<div class="errorsContainer">
					<p>You got errors on the following:</p>
					<ul>
						<% errors.forEach(error => {%>

						<li><%= error.msg %></li>

						<% }) %>
					</ul>
				</div>
				<% }%>
			</div>
		</div>
	</div>
</div>

<%- include('./layout/footer') -%>
