<%- include('./layout/header') -%>

<div class="container" id="landingContainer">
	<div class="row">
		<div class="col">
			<form action="" method="POST">
				<label for="username">Username</label>
				<input name="username" placeholder="username" type="text" />

				<label for="first_name">First Name</label>
				<input name="first_name" placeholder="first name" type="text" />

				<label for="last_name">Last Name</label>
				<input name="last_name" placeholder="last_name" type="text" />

				<label for="password">Password</label>
				<input name="password" type="password" />

				<button>Sign Up</button>
			</form>
		</div>
	</div>
</div>

<%- include('./layout/footer') -%>
