// -----------------------------------------------
//
// Styling for index page
//
// -----------------------------------------------
#landingContainer {
	.landingTextContainer {
		margin-top: 20px;
		text-align: center;
		color: white;

		h1 {
			font-size: 3.5rem;
		}
	}

	.messagesContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 55px;
		margin-bottom: 55px;

		.messageCard {
			color: var(--black);
			background-color: var(--lightBrown);
			margin-bottom: 20px;
			width: 43rem;

			.messageContent {
				font-size: 0.8rem;
			}

			.messageInfoContainer {
				display: flex;
				justify-content: space-between;

				p {
					margin-left: 20px;
					margin-right: 20px;
				}
			}
		}
	}
}
