// -----------------------------------------------
//
// Styling for the entire app
//
// -----------------------------------------------

// Fonts
// -----------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto&display=swap');

// Color Variables
// -----------------------------------------------
:root {
	--black: #1e1c1c;
	--white: #ffffff;
	--brown: #d2c4ae;
	--lightBrown: #ffeccf;
	--roboto: 'Roboto', sans-serif;
	--playfair: 'Playfair Display', serif;
}

// Layout for entire website
// -----------------------------------------------
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	font-family: var(--roboto);
	background-color: var(--black);
	color: white;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

// Text
// -----------------------------------------------
.playfair {
	font-family: var(--playfair);
}

.roboto {
	font-family: var(--roboto);
}

.title {
	font-family: var(--playfair);
	font-weight: 700;
}

// Layout for cards
// -----------------------------------------------
.gridDisplay {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

.textIntroContainer {
	display: flex;

	h1 {
		margin-right: 50px;
	}

	a {
		margin-top: 5px;
	}
}

.cardItem {
	color: black;
}

.errorsContainer {
	color: red;
}

// Buttons
// -----------------------------------------------
.navigationButton {
	color: #fff;
	background-color: var(--orange);
	border-color: var(--orange);
}

.navigationButton:hover {
	color: #fff;
	background-color: var(--orangeHover);
	border-color: var(--orangeHover);
}

.navigationButton:focus {
	box-shadow: 0 0 0 0.25rem var(--orange);
	background-color: var(--orangeHover);
	border-color: var(--orangeHover);
}

// Page Styling
// --------------------------------------------
@import './layout/header.scss';
@import './layout/footer.scss';
@import './index.scss';

// // Category
// @import './pages/category/categoryList.scss';
// @import './pages/category/categoryDetail.scss';
// @import './pages/category/categoryDelete.scss';

// // Item
// @import './pages/item/itemDetail.scss';
