<%- include('../layout/header') -%>

<div class="container" id="adminSignInFormContainer">
	<div class="row">
		<div class="col formWrapperContainer">
			<%if (!currentUser.admin_status) { %>
			<div class="formContainer">
				<h1 class="playfair">Become an Admin</h1>
				<p class="text-center">Passcode is: kenny</p>

				<form action="/admin-sign-in" method="POST">
					<div class="form-row extraRow">
						<div class="col">
							<div class="form-group">
								<label class="playfair" for="secret_code"
									>Enter Secret Admin Code</label
								>
								<input
									class="form-control playfair"
									name="secret_code"
									type="text"
								/>
							</div>
						</div>
					</div>

					<div class="buttonContainer text-center">
						<button class="btn btn-success appButton">
							Become an Admin
						</button>
					</div>
				</form>

				<%if (errors) { %>
				<div class="errorsContainer">
					<p>You got errors on the following:</p>
					<ul>
						<% errors.forEach(error => {%>

						<li><%= error.msg %></li>

						<% }) %>
					</ul>
				</div>
				<% }%> <% } else {%>
				<div class="welcomeContainer">
					<h1 class="playfair text-center extraRow marginBottom">
						Congrats. You Are An Admin
					</h1>
					<img
						class="img-fluid marginBottom adminPicture banner"
						src="/images/admin.gif"
					/>
				</div>
				<%}%>
			</div>
		</div>
	</div>

	<%- include('../layout/footer') -%>
</div>
