<%- include('../layout/header') -%>

<div class="container" id="logInFormContainer">
	<div class="row">
		<div class="col formWrapperContainer">
			<div class="formContainer">
				<h1 class="playfair">Log In Fellow Yeagerist</h1>

				<form action="/log-in" method="POST">
					<div class="form-row">
						<div class="col">
							<div class="form-group">
								<label class="playfair" for="username"
									>Username</label
								>
								<input
									class="form-control playfair"
									name="username"
									type="text"
								/>
							</div>
						</div>
					</div>

					<div class="form-row extraRow">
						<div class="col">
							<div class="form-group">
								<label class="playfair" for="password"
									>Password</label
								>
								<input
									class="form-control playfair"
									name="password"
									type="password"
								/>
							</div>
						</div>
					</div>

					<div class="buttonContainer">
						<button class="btn btn-success appButton">
							Log In
						</button>
					</div>
				</form>

				<%if (message) { %>
				<div class="errorsContainer">
					<p>You got errors on the following:</p>
					<p><%= message %></p>
				</div>
				<% }%>
			</div>
		</div>
	</div>
</div>

<%- include('../layout/footer') -%>
