<%- include('../layout/header') -%>

<div class="container" id="memberSignInFormContainer">
	<div class="row">
		<div class="col formWrapperContainer">
			<%if (!currentUser.membership_status) { %>
			<div class="formContainer">
				<h1 class="playfair">Become a Yeagerist</h1>
				<p class="text-center">Passcode is: yeagerists</p>

				<form action="/member-sign-in" method="POST">
					<div class="form-row extraRow">
						<div class="col">
							<div class="form-group">
								<label class="playfair" for="secret_code"
									>Enter Secret Code</label
								>
								<input
									class="form-control playfair"
									name="secret_code"
									type="text"
								/>
							</div>
						</div>
					</div>

					<div class="buttonContainer text-center">
						<button class="btn btn-success appButton">
							Become a Yeagerist
						</button>
					</div>
				</form>
				<%if (errors) { %>
				<div class="errorsContainer text-center extraRow">
					<p>You got errors on the following:</p>

					<% errors.forEach(error => {%>

					<p><%= error.msg %></p>

					<% }) %>
				</div>
				<% }%> <% } else {%>
				<div class="welcomeContainer">
					<h1 class="playfair text-center extraRow marginBottom">
						Congrats. You are a member
					</h1>
					<img
						class="img-fluid marginBottom banner"
						src="/images/welcome.jpg"
					/>
				</div>
				<%}%>
			</div>
		</div>
	</div>
</div>

<%- include('../layout/footer') -%>
